.Results h3 {
  margin: 0 auto;
  max-width: 710px;
  color: #81dcfe;
  font-size: 35px;
  padding: 0;
  text-align: left;
}

.Results section {
  padding: 30px;
  max-width: 800px;
  margin: 0 auto;
  border: solid rgba(231, 255, 255, 0.5);
}
